In [1]:
import pandas as pd

In [2]:
rank = pd.read_csv("/wx/Predicting_2022_WorldCop/data/fifa_ranking-2022-10-06.csv")
rank.shape[0]

63916

In [3]:
rank.tail()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
63911,74,El Salvador,SLV,1330.51,1333.48,3,CONCACAF,2022-10-06
63912,75,Oman,OMA,1320.29,1323.03,0,AFC,2022-10-06
63913,76,Israel,ISR,1316.55,1316.35,0,UEFA,2022-10-06
63914,78,Georgia,GEO,1307.34,1296.46,-4,UEFA,2022-10-06
63915,211,San Marino,SMR,762.22,763.82,0,UEFA,2022-10-06

In [4]:
rank_2022 = rank[(rank['rank_date'] >= "2022-01-01")]
rank_2022.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
62862,76,Bolivia,BOL,1308.12,1324.21,-1,CONMEBOL,2022-02-10
62863,70,El Salvador,SLV,1346.04,1349.47,0,CONCACAF,2022-02-10
62864,71,Bulgaria,BUL,1345.47,1345.47,0,UEFA,2022-02-10
62865,73,Cabo Verde,CPV,1336.88,1339.48,0,CAF,2022-02-10
62866,74,Iraq,IRQ,1325.44,1333.03,-1,AFC,2022-02-10

In [5]:
rank_2022['rank_date'].value_counts()

2022-10-06    211
2022-08-25    211
2022-06-23    211
2022-03-31    211
2022-02-10    210
Name: rank_date, dtype: int64

In [6]:
rank_2022 = rank_2022[(rank_2022['rank_date'] >= "2022-10-01")]
rank_2022.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
63705,142,Nicaragua,NCA,1071.83,1079.18,3,CONCACAF,2022-10-06
63706,141,Burundi,BDI,1076.26,1076.26,0,CAF,2022-10-06
63707,140,St. Kitts and Nevis,SKN,1076.91,1076.91,0,CONCACAF,2022-10-06
63708,135,Turkmenistan,TKM,1100.47,1100.47,0,AFC,2022-10-06
63709,138,Ethiopia,ETH,1091.19,1088.27,0,CAF,2022-10-06

In [9]:
rank_2022 = rank_2022.sort_values('total_points',ascending=False)
rank_2022.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
63809,1,Brazil,BRA,1841.30,1837.56,0,CONMEBOL,2022-10-06
63838,2,Belgium,BEL,1816.71,1821.92,0,UEFA,2022-10-06
63839,3,Argentina,ARG,1773.88,1770.65,0,CONMEBOL,2022-10-06
63840,4,France,FRA,1759.78,1764.85,0,UEFA,2022-10-06
63841,5,England,ENG,1728.47,1737.46,0,UEFA,2022-10-06

In [20]:
print(rank_2022[rank_2022['country_full'].isin(['China PR'])])

       rank country_full country_abrv  total_points  previous_points  \
63889    79     China PR          CHN       1305.06          1305.06

       rank_change confederation   rank_date
63889            1           AFC  2022-10-06

In [21]:
rank_2022_AFC = rank_2022[rank_2022['confederation'] == 'AFC']
rank_2022_AFC.shape[0]

46

In [23]:
rank_2022_AFC.head(46)

,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
63856,20,IR Iran,IRN,1564.61,1558.64,-2,AFC,2022-10-06
63836,24,Japan,JPN,1559.54,1554.69,0,AFC,2022-10-06
63811,28,Korea Republic,KOR,1530.30,1526.02,0,AFC,2022-10-06
63822,38,Australia,AUS,1488.72,1483.73,-1,AFC,2022-10-06
63860,50,Qatar,QAT,1439.89,1441.97,2,AFC,2022-10-06
63861,51,Saudi Arabia,KSA,1437.78,1435.74,-2,AFC,2022-10-06
63905,68,Iraq,IRQ,1343.01,1338.91,-2,AFC,2022-10-06
63907,70,United Arab Emirates,UAE,1337.57,1346.09,1,AFC,2022-10-06
63912,75,Oman,OMA,1320.29,1323.03,0,AFC,2022-10-06
63890,77,Uzbekistan,UZB,1309.98,1306.63,0,AFC,2022-10-06
63889,79,China PR,CHN,1305.06,1305.06,1,AFC,2022-10-06
63867,84,Jordan,JOR,1289.99,1279.74,-2,AFC,2022-10-06
63868,85,Bahrain,BHR,1280.64,1289.25,0,AFC,2022-10-06
63873,90,Syria,SYR,1255.92,1265.03,1,AFC,2022-10-06
63877,94,Palestine,PLE,1233.72,1233.72,0,AFC,2022-10-06
63878,95,Kyrgyz Republic,KGZ,1230.22,1232.91,0,AFC,2022-10-06
63879,96,Vietnam,VIE,1226.65,1218.84,-1,AFC,2022-10-06
63882,99,Lebanon,LBN,1211.71,1211.71,-1,AFC,2022-10-06
63808,106,India,IND,1192.09,1198.65,2,AFC,2022-10-06
63726,108,Tajikistan,TJK,1185.70,1179.10,-1,AFC,2022-10-06
63734,111,Thailand,THA,1174.92,1170.69,0,AFC,2022-10-06
63735,112,Korea DPR,PRK,1169.96,1169.96,0,AFC,2022-10-06
63754,133,Philippines,PHI,1115.13,1115.13,-1,AFC,2022-10-06
63708,135,Turkmenistan,TKM,1100.47,1100.47,0,AFC,2022-10-06
63727,145,Hong Kong,HKG,1062.39,1058.37,-2,AFC,2022-10-06
63716,146,Malaysia,MAS,1062.32,1057.59,-2,AFC,2022-10-06
63719,149,Kuwait,KUW,1053.41,1053.41,0,AFC,2022-10-06
63722,152,Indonesia,IDN,1033.90,1019.19,-3,AFC,2022-10-06
63724,154,Maldives,MDV,1026.09,1018.25,-2,AFC,2022-10-06
63725,155,Yemen,YEM,1023.52,1023.52,2,AFC,2022-10-06
63715,156,Afghanistan,AFG,1023.04,1023.04,2,AFC,2022-10-06
63731,157,Chinese Taipei,TPE,1017.78,1017.78,0,AFC,2022-10-06
63755,158,Myanmar,MYA,1007.89,1011.91,0,AFC,2022-10-06
63757,160,Singapore,SGP,1003.50,1004.75,1,AFC,2022-10-06
63798,175,Nepal,NEP,954.86,950.45,-1,AFC,2022-10-06
63800,177,Cambodia,CAM,948.62,954.30,3,AFC,2022-10-06
63805,182,Macau,MAC,922.10,922.10,0,AFC,2022-10-06
63756,183,Mongolia,MNG,913.55,913.55,-1,AFC,2022-10-06
63783,185,Bhutan,BHU,910.96,910.96,-1,AFC,2022-10-06
63781,187,Laos,LAO,905.51,914.66,4,AFC,2022-10-06
63759,190,Brunei Darussalam,BRU,898.41,897.10,0,AFC,2022-10-06
63761,192,Bangladesh,BAN,884.45,883.18,0,AFC,2022-10-06
63763,194,Pakistan,PAK,866.81,866.81,-1,AFC,2022-10-06
63767,198,Timor-Leste,TLS,860.06,860.06,-1,AFC,2022-10-06
63774,205,Guam,GUM,838.33,838.33,0,AFC,2022-10-06
63776,207,Sri Lanka,SRI,825.25,825.25,0,AFC,2022-10-06

In [24]:
rank_2022["country_full"] = rank_2022["country_full"].str.replace("IR Iran", "Iran").str.replace("Korea Republic", "South Korea").str.replace("USA", "United States")