In [4]:
import pandas as pd
import numpy as np

In [7]:
#生成模拟数据
company=["A","B","C"]
data=pd.DataFrame({
    "company":[company[x] for x in np.random.randint(0,len(company),10)],
    "salary":np.random.randint(5,50,10),
    "age":np.random.randint(15,50,10)
})
print(data.shape[0])
print(data.head())

10
  company  salary  age
0       A      18   38
1       C      26   16
2       A      12   32
3       B      11   25
4       A      39   49

In [10]:
group = data.groupby("company")
group

In [11]:
list(group)

[('A',
    company  salary  age
  0       A      18   38
  2       A      12   32
  4       A      39   49
  6       A      46   24
  9       A      11   39),
 ('B',
    company  salary  age
  3       B      11   25
  5       B      32   30
  7       B      46   38
  8       B      11   45),
 ('C',
    company  salary  age
  1       C      26   16)]

groupby的过程就是将原有的DataFrame按照groupby的字段（这里是company），划分为若干个分组DataFrame，被分为多少个组就有多少个分组DataFrame。所以说，在groupby之后的一系列操作（如agg、apply等），均是基于子DataFrame的操作。

In [12]:
# 不同公司员工的平均年龄和平均薪资
data.groupby("company").agg("mean")

         salary   age
company
A          25.2  36.4
B          25.0  34.5
C          26.0  16.0

In [14]:
# 不同公司员工的平均年龄和薪资的中位数
data.groupby("company").agg({'age':'mean','salary':'median'})

          age  salary
company
A        36.4    18.0
B        34.5    21.5
C        16.0    26.0